* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 1s ease;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5rem;
  width: 100%;
  padding: 1.5rem 3rem;
}
header nav .logo-sm {
  z-index: 10;
  display: none;
  height: 2.5rem;
}
header nav .logo {
  height: 2.5rem;
}
header nav .menu {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header nav .menu .menu-item .menu-item-link {
  text-decoration: none;
  color: #ffffff;
}
header nav .menu .menu-item .menu-item-link:hover {
  border-bottom: 1px solid #fff;
}
header nav .menu .menu-item .menu-item-link.active {
  border-bottom: 1px solid #fff;
}
header nav .menu #intranet-link {
  text-decoration: none;
  background-color: #00B373;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  color: white;
  border-radius: 1rem 0 1rem 0;
  border-color: #00B373;
  text-align: center;
  border: none;
  transition: all 0.5s ease;
  font-weight: 500;
}
header nav .menu #intranet-link:hover {
  background-color: #03a86e;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5921568627);
}
header nav #btn-navbar {
  z-index: 10;
  display: none;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
header nav #btn-navbar:hover {
  cursor: pointer;
  color: #b6b6b6;
}
header.sticking {
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 900px) {
  header nav .logo-sm {
    display: block;
  }
  header nav .logo {
    display: none;
  }
  header nav .menu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.549);
    backdrop-filter: blur(3rem);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  header nav .menu.active {
    display: flex;
  }
  header nav #btn-navbar {
    display: block;
  }
}
@media only screen and (max-width: 576px) {
  header nav {
    padding: 1.5rem;
  }
}
.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: -5rem;
  left: 0;
  width: 100%;
  height: 80vh;
  transition: all 0.5s ease;
  color: #fff;
}
.hero-section.index {
  background-image: url("../img/about-us.png");
  animation: banner-index 5s infinite linear;
}
.hero-section .shadow {
  background-color: rgba(0, 0, 0, 0.5921568627);
  height: 100%;
}
.hero-section .shadow .slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.hero-section .shadow .slogan h1 {
  text-align: center;
  padding: 0 3rem;
}

@keyframes banner-index {
  0% {
    background-image: url("../img/aboutUs.jpeg");
  }
  25% {
    background-image: url("../img/aboutUs.jpeg");
  }
  26% {
    background-image: url("../img/presencia.jpg");
  }
  75% {
    background-image: url("../img/presencia.jpg");
  }
  76% {
    background-image: url("../img/niubizRegiones.png");
  }
}
h1 {
  font-size: 3rem;
}

/*-----------------------OUR PARTNERS---------------------*/
.partners-section {
  background-color: #f5f5f5;
  margin: 0;
  position: relative;
  padding: 3rem;
}
.partners-section .green-line {
  position: absolute;
  top: 0;
  left: calc(50% - 5rem);
  width: 10rem;
  height: 0.4rem;
  background-color: #00B373;
}
.partners-section .partners-section-title {
  text-align: center;
  padding-top: 1rem;
  color: #00B373;
  font-size: 2rem;
}
.partners-section .partners-container {
  width: 100%;
  padding: 2rem 0.5rem;
}
.partners-section .partners-container .swiper-wrapper {
  margin-bottom: 2rem;
}
.partners-section .partners-container .swiper-wrapper .partner-card {
  background-color: rgb(255, 255, 255);
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1058823529);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-image {
  height: 100%;
  width: 50%;
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-content {
  padding: 2rem 1rem;
  height: 100%;
  width: 50%;
  position: relative;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-content .partner-content-benefits {
  line-height: 2;
  padding: 0 1rem;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-content .btn-partner {
  background-color: #00B373;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: all ease 0.5s;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-weight: 500;
}
.partners-section .partners-container .swiper-wrapper .partner-card .partner-content .btn-partner:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.partners-section .partners-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00B373;
}
.partners-section .partners-container .swiper-pagination span {
  width: 0.8rem;
  height: 0.8rem;
}

/*-----------------------ABOUT US--------------------------*/
.aboutUs {
  padding: 0 3rem;
  display: flex;
  align-items: start;
  gap: 2rem;
  margin: 8rem 0 6rem 0;
  position: relative;
  height: 24rem;
}
.aboutUs .green-line {
  position: absolute;
  top: -3rem;
  width: 10rem;
  height: 0.4rem;
  background-color: #00B373;
}
.aboutUs .about-us-content {
  text-align: justify;
  width: 50%;
  height: 100%;
  position: relative;
}
.aboutUs .about-us-content h2 {
  color: #00B373;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.aboutUs .about-us-content p {
  line-height: 2;
  text-align: justify;
}
.aboutUs .about-us-content .btn-aboutUs {
  background-color: #00B373;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: all ease 0.5s;
  position: absolute;
  bottom: 0;
  font-weight: 500;
}
.aboutUs .about-us-content .btn-aboutUs:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.aboutUs figure {
  height: 100%;
  width: 50%;
  border-radius: 1rem;
  overflow: hidden;
}
.aboutUs figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: all 1s ease;
}
.aboutUs figure:hover img {
  transform: scale(1.1);
}

/*-----------------------SEDES LOZAMORA--------------------*/
.sedesLozamora {
  display: flex;
  align-items: center;
  padding-right: 3rem;
  height: 100%;
}
.sedesLozamora .sedes-left {
  width: 60%;
  background-color: #c1c1c1;
  height: 100%;
}
.sedesLozamora .sedes-left .sedes-left-content {
  padding: 3rem;
  height: 100%;
}
.sedesLozamora .sedes-left .sedes-left-content .sedes-titulo {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.sedesLozamora .sedes-left .sedes-left-content .sede-info-container {
  background-color: #fff;
  display: none;
  height: fit-content;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sedesLozamora .sedes-left .sedes-left-content .sede-info-container #sede-img {
  width: 60%;
  height: 20rem;
  object-fit: cover;
}
.sedesLozamora .sedes-left .sedes-left-content .sede-info-container .sede-info-text {
  padding: 1rem;
}
.sedesLozamora .sedes-left .sedes-left-content .sede-info-container .sede-info-text h3 {
  font-size: 2.5rem;
}
.sedesLozamora .mapPeru {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sedesLozamora .mapPeru path {
  fill: rgba(255, 255, 255, 0.5333333333);
  stroke: #a3a3a3;
  stroke-width: 2px;
  cursor: pointer;
  transition: fill 0.5s;
}
.sedesLozamora .mapPeru path.active {
  fill: rgba(60, 179, 114, 0.5137254902);
}
.sedesLozamora .mapPeru .pin {
  width: 1rem;
  height: 1rem;
  background-color: #00B373;
  border-radius: 50%;
  position: absolute;
}
.sedesLozamora .mapPeru .pin::before {
  content: "";
  background: #00B373;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease infinite;
}
.sedesLozamora .mapPeru .pin:hover {
  cursor: pointer;
}
.sedesLozamora .mapPeru #P-LIMA {
  top: 61.5%;
  left: 39.5%;
}
.sedesLozamora .mapPeru #P-ICA {
  top: 74%;
  left: 43%;
}
.sedesLozamora .mapPeru #P-TRUJILLO {
  top: 43%;
  left: 32%;
}
.sedesLozamora .mapPeru #P-CHICLAYO {
  top: 34%;
  left: 28%;
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}
/*----------------------------SECTION HIRING-------------------------------------*/
.hiring-section {
  margin-top: 4rem;
  background-image: url("../img/vacantes-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: fit-content;
}
.hiring-section .shadow-hiring {
  background-color: rgba(0, 0, 0, 0.7882352941);
  width: 100%;
  height: 100%;
}
.hiring-section .shadow-hiring .hiring-content {
  color: #fff;
  padding: 7rem 3rem;
  display: flex;
  height: 100%;
  gap: 4rem;
}
.hiring-section .shadow-hiring .hiring-content h2 {
  font-size: 2.5rem;
}
.hiring-section .shadow-hiring .hiring-content .hiring-content-right {
  height: 100%;
}
.hiring-section .shadow-hiring .hiring-content .hiring-content-right p {
  line-height: 2;
  font-size: 2rem;
  color: white;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.hiring-section .shadow-hiring .hiring-content .hiring-content-right .btn-hiring-container {
  text-align: end;
}
.hiring-section .shadow-hiring .hiring-content .hiring-content-right .btn-hiring-container .btn-hiring {
  padding: 1rem 4rem;
  background-color: rgba(255, 255, 255, 0.2823529412);
  box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.7647058824);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  transition: all ease 0.5s;
}
.hiring-section .shadow-hiring .hiring-content .hiring-content-right .btn-hiring-container .btn-hiring:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2823529412);
  box-shadow: 0 0 1rem rgb(255, 255, 255);
  cursor: pointer;
}

@media only screen and (max-width: 1700px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 39%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 42%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 30.5%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 26%;
  }
}
@media only screen and (max-width: 1600px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 38%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 42%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 29.5%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 25%;
  }
}
@media only screen and (max-width: 1550px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 38%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 42%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 42.5%;
    left: 29%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34%;
    left: 24%;
  }
}
@media only screen and (max-width: 1500px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 38%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 42%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 28%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 23%;
  }
}
@media only screen and (max-width: 1440px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 37%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 40.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 27%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 22%;
  }
}
@media only screen and (max-width: 1400px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 36.5%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 40%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 26.5%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 21%;
  }
}
@media only screen and (max-width: 1300px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 35.5%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 39.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 24.5%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 19%;
  }
}
@media only screen and (max-width: 1200px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 34%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 38.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 22%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 16%;
  }
}
@media only screen and (max-width: 1100px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 32%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 37%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 20%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 13%;
  }
}
@media only screen and (max-width: 1024px) {
  .sedesLozamora {
    flex-direction: column;
    padding: 0 3rem 3rem 3rem;
    background-color: #c1c1c1;
  }
  .sedesLozamora .sedes-left {
    width: 100%;
  }
  .sedesLozamora .sedes-left .sedes-left-content {
    padding: 3rem 0;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container {
    border-radius: 1rem;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container #sede-img {
    border-radius: 1rem 0 0 1rem;
  }
  .sedesLozamora .mapPeru {
    width: 100%;
  }
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 42%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 44%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 36%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 33%;
  }
}
@media only screen and (max-width: 900px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 41%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 43%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 34%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34%;
    left: 30.5%;
  }
}
@media only screen and (max-width: 800px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 40%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 43%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 32%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34%;
    left: 28%;
  }
}
@media only screen and (max-width: 768px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 39%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 41.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 31%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 26%;
  }
  .hiring-section .shadow-hiring .hiring-content {
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
  }
  .hiring-section .shadow-hiring .hiring-content h2 {
    font-size: 2rem;
    text-align: center;
  }
  .hiring-section .shadow-hiring .hiring-content .hiring-content-right {
    text-align: center;
  }
  .hiring-section .shadow-hiring .hiring-content .hiring-content-right p {
    font-size: 1.2rem;
    text-align: center;
  }
  .hiring-section .shadow-hiring .hiring-content .hiring-content-right .btn-hiring-container {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .partners-section {
    padding: 1.5rem;
  }
  .aboutUs {
    padding: 0 1.5rem;
    flex-direction: column;
    height: 100%;
  }
  .aboutUs .about-us-content {
    width: 100%;
  }
  .aboutUs .about-us-content .btn-aboutUs {
    position: relative;
    margin-top: 2rem;
  }
  .aboutUs .about-us-content .btn-aboutUs:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .aboutUs figure {
    width: 100%;
  }
  .sedesLozamora {
    flex-direction: column;
    padding: 0 1.5rem 1.5rem 1.5rem;
    height: 100%;
  }
  .sedesLozamora .sedes-left {
    width: 100%;
  }
  .sedesLozamora .sedes-left .sedes-left-content {
    padding: 2rem 0;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sedes-titulo {
    font-size: 2rem;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container {
    flex-direction: column;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container #sede-img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container .sede-info-text {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .sedesLozamora .sedes-left .sedes-left-content .sede-info-container .sede-info-text h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 36%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 40%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 26%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 20%;
  }
}
@media only screen and (max-width: 425px) {
  .partners-section .partners-container .swiper-wrapper .partner-card {
    flex-direction: column;
    height: 100%;
  }
  .partners-section .partners-container .swiper-wrapper .partner-card .partner-image {
    height: 12rem;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
  .partners-section .partners-container .swiper-wrapper .partner-card .partner-content {
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
  }
  .partners-section .partners-container .swiper-wrapper .partner-card .partner-content .partner-content-benefits {
    text-align: start;
  }
  .partners-section .partners-container .swiper-wrapper .partner-card .partner-content .btn-partner {
    margin-top: 1.5rem;
    position: relative;
    right: initial;
    bottom: initial;
  }
  .sedesLozamora .mapPeru #P-LIMA {
    top: 62%;
    left: 31%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 75%;
    left: 35.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 16%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 34.5%;
    left: 9%;
  }
}
@media only screen and (max-width: 375px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 59.5%;
    left: 30.5%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 71%;
    left: 35%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 43%;
    left: 15%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 35.5%;
    left: 7%;
  }
}
@media only screen and (max-width: 320px) {
  .sedesLozamora .mapPeru #P-LIMA {
    top: 58%;
    left: 30.5%;
  }
  .sedesLozamora .mapPeru #P-ICA {
    top: 68%;
    left: 36.5%;
  }
  .sedesLozamora .mapPeru #P-TRUJILLO {
    top: 44%;
    left: 15%;
  }
  .sedesLozamora .mapPeru #P-CHICLAYO {
    top: 37.5%;
    left: 7%;
  }
}
.introduction-section {
  padding: 2rem 3rem;
  text-align: justify;
  line-height: 2;
}
.introduction-section .introduccion {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.introduction-section .introduccion figure {
  width: 70rem;
  height: 10rem;
  border-radius: 1rem;
  overflow: hidden;
}
.introduction-section .introduccion figure img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: all 1s ease;
}
.introduction-section .introduccion figure:hover img {
  transform: scale(1.1);
}
.introduction-section .history h2 {
  color: #00B373;
  font-size: 2rem;
}

.time-line {
  display: flex;
  position: relative;
  margin: 3rem;
  padding-bottom: 1.5rem;
  gap: 2rem;
}
.time-line::after {
  content: "";
  position: absolute;
  width: calc(100% - 15rem);
  height: 0.35rem;
  background-color: #00B373;
  top: 4.1rem;
  left: 8rem;
  animation: moveline 6s infinite forwards;
}
@keyframes moveline {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 16rem);
  }
}
.time-line .container {
  position: relative;
}
.time-line .container .container-time-mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.time-line .container .container-time-mark .date {
  border: solid 1px #00B373;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.5rem 1rem;
}
.time-line .container .container-time-mark .time-mark-dot {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #00B373;
  border-radius: 50%;
}
.time-line .container .container-time-text {
  text-align: center;
  margin-top: 1.5rem;
}
.time-line .container .container-time-text p {
  background-color: #dedede;
  padding: 1rem;
  border-radius: 1rem;
}
.time-line .container .container-time-text img {
  margin-top: 1rem;
  height: 6rem;
}

.mission-vision {
  background-color: rgba(217, 217, 217, 0.3803921569);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  position: relative;
}
.mission-vision .green-line {
  position: absolute;
  top: 0;
  left: calc(50% - 5rem);
  width: 10rem;
  height: 0.4rem;
  background-color: #00B373;
}
.mission-vision .mission-vision-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.mission-vision .mission-vision-card img {
  height: 5rem;
}
.mission-vision .mission-vision-card h4 {
  color: #00B373;
  font-size: 1.5rem;
}

.teams-carousel {
  position: relative;
  margin-bottom: 4rem;
}
.teams-carousel h2 {
  color: #00B373;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.teams-carousel .swiper-teams {
  width: 90%;
  position: unset;
}
.teams-carousel .swiper-teams .swiper-wrapper {
  margin: 2.5rem 0;
}
.teams-carousel .swiper-teams .swiper-wrapper .team-card {
  height: 20rem;
  width: 33.3333333333%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.teams-carousel .swiper-teams .swiper-wrapper .team-card img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.teams-carousel .swiper-teams .swiper-wrapper .team-card .team-card-text {
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}
.teams-carousel .swiper-teams .swiper-slide-active {
  transition: all 0.5s ease;
  transform: scale(1.2);
  z-index: 10;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.teams-carousel .swiper-teams .swiper-button-prev {
  color: #00B373;
  top: calc(50% + 2rem);
  left: 1.5rem;
  font-weight: bold;
  transition: all ease 0.5s;
}
.teams-carousel .swiper-teams .swiper-button-prev:hover {
  transform: scale(1.1);
}
.teams-carousel .swiper-teams .swiper-button-next {
  color: #00B373;
  top: calc(50% + 2rem);
  right: 1.5rem;
  font-weight: bold;
  transition: all ease 0.5s;
}
.teams-carousel .swiper-teams .swiper-button-next:hover {
  transform: scale(1.1);
}

.teams {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  background-color: #00B373;
}
.teams .teams-text h2 {
  color: white;
  font-size: 3rem;
}
.teams .our-teams {
  height: 25rem;
  width: 70%;
  overflow: hidden;
  position: relative;
  display: flex;
}
.teams .our-teams .teams-shutters {
  position: absolute;
  height: 150vmax;
  width: 150vmax;
  left: calc(50% - 75vmax);
  top: calc(50% - 75vmax);
  pointer-events: none;
  z-index: 2;
  animation: rotateFrame 22.5s linear infinite;
}
@keyframes rotateFrame {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.teams .our-teams .teams-shutters:before, .teams .our-teams .teams-shutters:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  background-color: #00B373;
  pointer-events: auto;
}
.teams .our-teams .teams-shutters:before {
  bottom: 50%;
  animation: openTop 5s infinite;
}
@keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.teams .our-teams .teams-shutters:after {
  top: 50%;
  animation: openBottom 5s infinite;
}
@keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1);
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
}
.teams .our-teams .teams-slides {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.teams .our-teams .team-slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: auto;
  animation: showHideSlide infinite 45s steps(1);
}
@keyframes showHideSlide {
  0% {
    opacity: 1;
    z-index: 1;
  }
  11.1111111111% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.teams .our-teams .team-slide:nth-child(1) {
  animation-delay: 0s;
}
.teams .our-teams .team-slide:nth-child(1) .team-slide-bg {
  background-image: url(../img/team_gerencia.JPG);
}
.teams .our-teams .team-slide:nth-child(2) {
  animation-delay: 5s;
}
.teams .our-teams .team-slide:nth-child(2) .team-slide-bg {
  background-image: url(../img/team-rrhh.JPG);
}
.teams .our-teams .team-slide:nth-child(3) {
  animation-delay: 10s;
}
.teams .our-teams .team-slide:nth-child(3) .team-slide-bg {
  background-image: url(../img/team-operaciones.JPG);
}
.teams .our-teams .team-slide:nth-child(4) {
  animation-delay: 15s;
}
.teams .our-teams .team-slide:nth-child(4) .team-slide-bg {
  background-image: url(../img/team-adminstracion.JPG);
}
.teams .our-teams .team-slide:nth-child(5) {
  animation-delay: 20s;
}
.teams .our-teams .team-slide:nth-child(5) .team-slide-bg {
  background-image: url(../img/aboutUs.jpeg);
}
.teams .our-teams .team-slide:nth-child(6) {
  animation-delay: 25s;
}
.teams .our-teams .team-slide:nth-child(6) .team-slide-bg {
  background-image: url(../img/team-niubiz.JPG);
}
.teams .our-teams .team-slide:nth-child(7) {
  animation-delay: 30s;
}
.teams .our-teams .team-slide:nth-child(7) .team-slide-bg {
  background-image: url(../img/niubiz-regiones.JPG);
}
.teams .our-teams .team-slide:nth-child(8) {
  animation-delay: 35s;
}
.teams .our-teams .team-slide:nth-child(8) .team-slide-bg {
  background-image: url(../img/team-claro.JPG);
}
.teams .our-teams .team-slide:nth-child(9) {
  animation-delay: 40s;
}
.teams .our-teams .team-slide:nth-child(9) .team-slide-bg {
  background-image: url(../img/team-claro-supervisores.JPG);
}
.teams .our-teams .team-slide .team-slide-bg {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  animation: bgInOut 5s infinite;
}
@keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  33% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  100% {
    transform: rotate(45deg) scale(0.9);
  }
}
.teams .our-teams .team-slide .team-slide-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
  line-height: 1;
  text-align: center;
  z-index: 2;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.9137254902);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: fit-content;
}
.teams .our-teams .team-slide .team-slide-content span {
  font-size: 1rem;
}

.hero-section-services {
  height: 80vh;
  position: relative;
  top: -5rem;
  left: 0;
}
.hero-section-services h1 {
  color: rgba(255, 0, 0, 0);
  transition: 0.5s;
  animation: textColor 2s ease infinite;
  width: 100%;
  padding: 1rem 0;
  height: fit-content;
  background-image: linear-gradient(90deg, #fff 50%, #fff 0);
  background-size: 200% 100%;
  background-clip: text, padding-box;
  -webkit-background-clip: text, padding-box;
}

@keyframes textColor {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.slider__navi {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
}
.slider__navi a {
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin: 20px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(255, 255, 255, 0.3725490196);
  transition: all 0.5s ease;
}
.slider__navi a:hover {
  height: 0.9rem;
  width: 0.9rem;
  background: rgba(0, 0, 0, 0.4039215686);
}
.slider__navi a.active {
  height: 0.9rem;
  width: 0.9rem;
  background: #00B373;
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.flex__container.flex--active {
  z-index: 2;
}
.flex__container .flex__item {
  height: 100%;
  color: #fff;
  transition: transform 0.1s linear;
}
.flex__container .flex__item .flex__content {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 70%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}
.flex__container .flex__item .flex__content .text--big {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1.5rem;
  height: fit-content;
}
.flex__container .flex__item .flex__content .text--normal {
  color: rgba(255, 255, 255, 0.8);
  line-height: 2;
}
.flex__container .flex__item .text__background {
  position: absolute;
  left: 72px;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}
.flex__container .flex__item .pokemon__img {
  position: absolute;
  bottom: 20px;
  right: 15%;
  max-height: 40vw;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}
.flex__container .flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 65%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.flex__container .flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */
.flex--piplup .flex__item--left h1 {
  background-image: linear-gradient(90deg, #5600c0 50%, #fff 0);
}

.flex--piplup .flex__item--right {
  background-image: url("../img/vendemas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Pikachu */
.flex--pikachu .flex__item--left h1 {
  background-image: linear-gradient(90deg, #3e9fe6 50%, #fff 0);
}

.flex--pikachu .flex__item--right {
  background-image: url("../img/niubiz-regiones.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex__item--right .item-shadow {
  background: linear-gradient(rgb(60, 60, 60), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  height: 100%;
}

/* Blaziken */
.flex--blaziken .flex__item--left h1 {
  background-image: linear-gradient(90deg, #ff2115 50%, #fff 0);
}

.flex--blaziken .flex__item--right {
  background-image: url("../img/claro-empresas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Dialga */
.flex--dialga .flex__item--left h1 {
  background-image: linear-gradient(90deg, #ff2115 50%, #fff 0);
}

.flex--dialga .flex__item--right {
  background-image: url("../img/claro-empresas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Zekrom */
.flex--zekrom .flex__item--left h1 {
  background-image: linear-gradient(90deg, #ffdc15 50%, #fff 0);
}

.flex--zekrom .flex__item--right {
  background: #a7bcbb;
}

/* Animate-START point */
.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

/* Animate-END point */
.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.services-benefits {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 28rem;
  margin-bottom: 4rem;
}
.services-benefits.right {
  flex-direction: row-reverse;
}
.services-benefits .benefits-info {
  width: 60%;
  height: 100%;
  background-color: #00B373;
  padding: 3rem;
}
.services-benefits .benefits-info.left {
  border-radius: 0 1rem 1rem 0;
}
.services-benefits .benefits-info.right {
  border-radius: 1rem 0 0 1rem;
  background-color: black;
}
.services-benefits .benefits-info h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.services-benefits .benefits-info p {
  color: #fff;
  text-align: justify;
}
.services-benefits .clients-carousel {
  width: 40%;
  height: 90%;
  margin: 0 3rem;
}
.services-benefits .clients-carousel h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.services-benefits .clients-carousel.right h2 {
  color: #000;
}
.services-benefits .clients-carousel.left h2 {
  color: #00B373;
}
.services-benefits .clients-carousel .swiper-wrapper {
  margin-bottom: 2.5rem;
}
.services-benefits .clients-carousel .swiper-wrapper .client-card {
  width: 33.3333333333%;
  height: 18rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.services-benefits .clients-carousel .swiper-wrapper .client-card img {
  height: 18rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.services-benefits .clients-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00B373;
}
.services-benefits .clients-carousel .swiper-pagination span {
  width: 0.8rem;
  height: 0.8rem;
}

.main-clients-section {
  padding: 0 3rem;
}
.main-clients-section h2 {
  color: #00B373;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}
.main-clients-section .clients-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.main-clients-section .clients-container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 20%;
}
.main-clients-section .clients-container .clients-carousel {
  width: 80%;
  margin: 0;
}
.main-clients-section .clients-container .clients-carousel .swiper-wrapper {
  margin-bottom: 2.5rem;
}
.main-clients-section .clients-container .clients-carousel .swiper-wrapper .client-card {
  width: 33.3333333333%;
  height: 10rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  margin-bottom: 1rem;
}
.main-clients-section .clients-container .clients-carousel .swiper-wrapper .client-card img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.main-clients-section .clients-container .clients-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00B373;
}
.main-clients-section .clients-container .clients-carousel .swiper-pagination span {
  width: 0.8rem;
  height: 0.8rem;
}

.vacantes-group {
  position: relative;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.vacantes-group .vacantes-tittle h2 {
  color: black;
  text-align: center;
}
.vacantes-group .vacantes {
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
}
.vacantes-group .vacantes .vacante {
  background-color: violet;
  width: 15rem;
  padding: 1rem;
}
.vacantes-group .vacantes .vacante img {
  height: 10rem;
  width: 100%;
}
.vacantes-group .vacantes .vacante p {
  font-weight: 100;
  font-size: 1rem;
}

.job-oportunities-section {
  padding: 2rem;
  background-color: black;
}
.job-oportunities-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
}
.job-oportunities-section .job-oportunities-carousel {
  width: 100%;
}
.job-oportunities-section .job-oportunities-carousel .swiper-wrapper {
  margin-bottom: 2.5rem;
}
.job-oportunities-section .job-oportunities-carousel .swiper-wrapper .job-oportunities-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.job-oportunities-section .job-oportunities-carousel .swiper-wrapper .job-oportunities-card img {
  height: 25rem;
}
.job-oportunities-section .job-oportunities-carousel .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00b373;
}
.job-oportunities-section .job-oportunities-carousel .swiper-pagination span {
  width: 0.8rem;
  height: 0.8rem;
  background-color: white;
}

.redirect-to-application {
  width: 100%;
  padding: 0 3rem;
  margin: 4rem 0;
  text-align: center;
}
.redirect-to-application #btn-application {
  background-color: #00b373;
  border: none;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 500;
  transition: all ease 0.5s;
}
.redirect-to-application #btn-application:hover {
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  margin-top: 4rem;
  background-color: #000;
  color: #fff;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer-icon {
  width: 5%;
}
footer .footer-icon img {
  height: 3rem;
  width: auto;
}
footer .footer-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
footer .footer-content li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
footer .footer-content li .icon-box {
  width: 2rem;
  text-align: center;
}
footer .footer-content li .icon-box i {
  color: #00B373;
  font-size: 1.7rem;
  text-align: center;
  width: 2rem;
}
footer .footer-content li .footer-list-text {
  border-left: 1px solid #fff;
  padding-left: 1rem;
}
footer .footer-content li .footer-list-text h4 {
  font-weight: 500;
}
footer .footer-content li .footer-list-text a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  text-wrap: wrap;
}
footer .footer-copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}
footer .footer-copyright .footer-copyright-text {
  text-align: end;
}
footer .footer-copyright .social-media {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  position: absolute;
  right: 0;
}
footer .footer-copyright .social-media li a {
  color: #fff;
}
footer .footer-copyright .social-media li a i {
  font-size: 1.7rem;
}

@media only screen and (max-width: 1024px) {
  footer .footer-content {
    width: 100%;
    margin-top: 2.5rem;
    padding: 0;
    flex-direction: column;
  }
  footer .footer-content li .footer-list-text {
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
  }
  footer .footer-copyright {
    flex-direction: column;
    gap: 2rem;
  }
  footer .footer-copyright .footer-copyright-text {
    text-align: center;
  }
  footer .footer-copyright .social-media {
    padding: 0;
    position: relative;
    right: initial;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    padding: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
