footer {
  margin-top: 4rem;
  background-color: #000;
  color: #fff;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .footer-icon {
    img {
      height: 3rem;
      width: auto;
    }
  }
  .footer-content {
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
      i {
        color: mediumseagreen;
        font-size: 1.7rem;
        width: 2rem;
        text-align: center;
      }
      .footer-list-text {
        border-left: 1px solid #fff;
        padding-left: 1rem;
        h4 {
          font-weight: 500;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 200;
          text-wrap: wrap;
        }
      }
    }
  }
  .footer-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
    .footer-copyright-text {
      text-align: end;
    }
    .social-media {
      display: flex;
      justify-content: end;
      align-items: center;
      list-style-type: none;
      gap: 1rem;
      position: absolute;
      right: 0;
      li {
        a {
          color: #fff;
          i {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    .footer-content {
      width: 100%;
      margin-top: 2.5rem;
      padding: 0;
      li {
        .footer-list-text {
          overflow: hidden;
          text-wrap: wrap;
          text-overflow: ellipsis;
        }
      }
    }
    .footer-copyright {
      flex-direction: column;
      gap: 2rem;
      .footer-copyright-text {
        text-align: center;
      }
      .social-media {
        padding: 0;
        position: relative;
        right: initial;
      }
    }
  }
}
