.hero-section-services {
  height: 80vh;
  position: relative;
  top: -5rem;
  left: 0;
  h1 {
    color: #ff000000;
    transition: 0.5s;
    animation: textColor 2s ease infinite;
    width: 100%;
    padding: 1rem 0;
    height: fit-content;
    background-image: linear-gradient(90deg, #fff 50%, #fff 0);
    background-size: 200% 100%;
    background-clip: text, padding-box;
    -webkit-background-clip: text, padding-box;
  }
}

@keyframes textColor {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.slider__navi {
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
  a {
    display: block;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin: 20px 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    background: #ffffff5f;
    transition: all 0.5s ease;
    &:hover {
      height: 0.9rem;
      width: 0.9rem;
      background: #00000067;
    }
    &.active {
      height: 0.9rem;
      width: 0.9rem;
      background: #00B373;
    }
  }
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  z-index: 1;
  &.flex--active {
    z-index: 2;
  }
  .flex__item {
    height: 100%;
    color: #fff;
    transition: transform 0.1s linear;
    .flex__content {
      margin-left: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      height: 70%;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
      .text--big {
        font-size: 5rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1.5rem;
        height: fit-content;
      }
      .text--normal {
        color: rgba(255, 255, 255, 0.8);
        line-height: 2;
      }
    }
    .text__background {
      position: absolute;
      left: 72px;
      bottom: -60px;
      color: rgba(0, 0, 0, 0.05);
      font-size: 170px;
      font-weight: 700;
    }
    .pokemon__img {
      position: absolute;
      bottom: 20px;
      right: 15%;
      max-height: 40vw;
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: opacity 0.43s 0.6s,
        transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
    }
  }
  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65%;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
  .flex__item--right {
    width: 35%;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
  }
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */

.flex--piplup .flex__item--left {
  h1{
    background-image: linear-gradient(90deg, #5600c0 50%, #fff 0);
  }
}

.flex--piplup .flex__item--right {
  background-image: url("../img/vendemas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Pikachu */

.flex--pikachu .flex__item--left {
  h1{
    background-image: linear-gradient(90deg, #3e9fe6 50%, #fff 0);
  }
}

.flex--pikachu .flex__item--right {
  background-image: url("../img/niubiz-regiones.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex__item--right .item-shadow {
  background: linear-gradient(
    rgb(60, 60, 60),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  height: 100%;
}

/* Blaziken */

.flex--blaziken .flex__item--left {
  h1{
    background-image: linear-gradient(90deg, #ff2115 50%, #fff 0);
  }
}

.flex--blaziken .flex__item--right {
  background-image: url("../img/claro-empresas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Dialga */

.flex--dialga .flex__item--left {
  h1{
    background-image: linear-gradient(90deg, #ff2115 50%, #fff 0);
  }
}

.flex--dialga .flex__item--right {
  background-image: url("../img/claro-empresas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Zekrom */

.flex--zekrom .flex__item--left {
  h1{
    background-image: linear-gradient(90deg, #ffdc15 50%, #fff 0);
  }
}

.flex--zekrom .flex__item--right {
  background: #a7bcbb;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.services-benefits {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 28rem;
  margin-bottom: 4rem;
  &.right {
    flex-direction: row-reverse;
  }
  .benefits-info {
    width: 60%;
    height: 100%;
    background-color: #00B373;
    padding: 3rem;
    &.left {
      border-radius: 0 1rem 1rem 0;
    }

    &.right {
      border-radius: 1rem 0 0 1rem;
      background-color: black;
    }
    h2 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 1.5rem;
    }
    p {
      color: #fff;
      text-align: justify;
    }
  }
  .clients-carousel {
    width: 40%;
    height: 90%;
    margin: 0 3rem;
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    &.right {
      h2 {
        color: #000;
      }
    }
    &.left {
      h2 {
        color: #00B373;
      }
    }
    .swiper-wrapper {
      margin-bottom: 2.5rem;
      .client-card {
        width: calc(100% / 3);
        height: 18rem;
        box-shadow: 0 5px 15px #00000033;
        background-color: #fff;
        border-radius: 1rem;
        position: relative;
        margin-bottom: 1rem;
        img {
          height: 18rem;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
    }
    .swiper-pagination {
      .swiper-pagination-bullet-active {
        background-color: #00B373;
      }
      span {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }
}

.main-clients-section {
  padding: 0 3rem;
  h2 {
    color: #00B373;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  .clients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      width: 20%;
    }
    .clients-carousel {
      width: 80%;
      margin: 0;
      .swiper-wrapper {
        margin-bottom: 2.5rem;
        .client-card {
          width: calc(100% / 3);
          height: 10rem;
          box-shadow: 0 5px 15px #00000033;
          background-color: #fff;
          border-radius: 1rem;
          position: relative;
          margin-bottom: 1rem;
          img {
            height: 10rem;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
          }
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background-color: #00B373;
        }
        span {
          width: 0.8rem;
          height: 0.8rem;
        }
      }
    }
  }
}
