* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "header.scss", "hero-section.scss";
@import "index.scss", "nosotros.scss" , "servicios.scss";
@import "footer.scss";